header{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

body{
    background-color: slategray;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#game{
    display:inline-block;
    vertical-align:top;
    grid-template-columns:auto ;

}
#game {
    background: #888888;
}
.cell {
    width:30px;
    height:30px;
    background:dimgray;
    cursor:pointer;
    border: none;
}


.cell:hover {
    background:#338833;
}

